<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto - <%- nombrePagina %></title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900|Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header class="site-header contenedro">
        <a href="/">
            <img src="/img/logo.png" alt="Logo">
        </a>

        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="#">Iniciar Sesion</a>
            <a href="/crear-cuenta">Registrarse</a>
        </nav>
    </header>
    <%- body%>

    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#"></a>
            <a href="#"></a>
            <a href="/crear-cuenta"></a>
        </nav>
        <p class="copyright">Todos los Derechos Reservados PROYECTO <%- year %> &copy;</p>
    </footer>
</body>
</html>