<h1 style = "
    text-align : center;
    font-family : Arial, Helvetica;
">Confirmar Cuenta</h1>

<p style="font-family : Arial, Helvetica;">Estas a un paso de Crear una comunidad, profavro confirma tu cuenta en el siguiente enlace:</p>

<a style="
    font-family : Arial, Helvetica;
    display : block;
    padding : 1rem;
    background-color : #00c897;
    color : white;
    text-transform : uppercase;
    text-align : center;
    text-decoration : none;
" href="<%= url %>">Confirmar</a>

<p style="font-family : Arial, Helvetica;">Si no puedes hacer click, sigue el siguiente enlace : <%= url %></p>
<p style="font-family : Arial, Helvetica;">Si no soliciaste este email, ignoralo</p>