<h1 style = "
    text-align:center;
    font-family : Arial, Helvetica, sans-serif;
">Confirmar tu Cuenta</h1>

<p style = "
    font-family:Arial, Helvetica, sans-serif;
">Esta a punto de conrfirmar en el siguiente enlace</p>

<a style = "
    font-family:Arial, Helvetica, sans-serif;
    display : block;
    padding : 1em;
    background-color : #00c897;
    color : white;
    text-transform : uppercase;
    text-align : center;
    text-decoration : none;
" href="<%= url %> ">Confirma tu cuenta</a>

<p style = "
font-family:Arial, Helvetica, sans-serif;
">Si no puede acceder al enlace, visita : <%= url %> </p>
<p style = "
font-family:Arial, Helvetica, sans-serif;
">Si no solicitaste, ignora</p>